.myname {
  color: #5FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: end;
}

.connect {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:right;
}

.brand {
  color: #5FF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: end;
}

.jumbotron {
  height: auto !important;
  width: auto;
  background-size: 100% 100%;
  background: cover;
  padding: 0;
}

h1 {
  font-style: italic;
  color: #5FF;
  padding: 0;
}

h2 {
  color: #5FF !important;
  font-size: large;
}

p {
  color: #5FF !important;
}

img {
  max-width: 25%;
  max-height: 50%;
  float: left;
  margin-right: 5%;
}

.skill {
  border: 5px solid #5FF;
  background-color: #48B;
  color: #5FF
}