* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #48B;
}

nav a:hover {
  background-color: white !important;
}

.navbar-brand {
  color: #48B !important;
}

.navbar {
  background-color: #5FF !important;
}