h1 {
    text-align: center;
    margin-top: 1%;
}

p {
    text-align: center;
    margin-top: 1%;
}

.button {
    color: #48B;
    background-color: #5FF;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 1% !important;
    justify-content: center !important;
    align-items: center !important;
}

.link-button {
    color: #48B;
    background-color: #5FF;
    margin-left: 48.5% !important;
    margin-right: 50% !important;
    margin-top: 1% !important;
    justify-content: center !important;
    align-items: center !important;
}

.buttongroup {
    margin-left: 33%;
}



