.card {
    background: #fff;
    border-radius: 2%;
    height: 100%;
    margin: 1%;
    position: relative;
    width: 30%;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:#48B;
  }
  .card > .img-container > img {
    width: 60%;
  }
  
  .card > .content {
    padding-left: 5%;
    padding-right: 1%;
    font-size: 15px;
  }
  

  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  