.card {
  background: #fff;
  border-radius: 2%;
  height: 30rem;
  margin: 1%;
  position: relative;
  width: 30%;
}

.card .img-container {
  height: 60%;
  width: 100%;
  background: #48B;
}

.card .img-container img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  overflow: hidden !important;
  border-radius: 2%;
}

.card .content {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 14px;
  border-top: 1rem solid #48B
}

h5 {
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card .content ul li {
  margin-top: 18px;
}